<%- include('partials/header.ejs'); -%>
<main>
    <div class="intro">
        <h1></h1>
        <p></p>
    </div>
    <form action="">
        <div class="container">
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6"></div>
        </div>
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6"></div>
        </div>
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6"></div>
        </div>
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6"></div>
        </div>
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6"></div>
        </div>
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6"></div>
        </div>
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6"></div>
        </div>
    </div>
    </form>
    
</main>


<%- include('partials/footer.ejs'); -%>