
<!-- This calls the header fromt he partials folder -->
<%- include('partials/header.ejs'); -%>

<main class="addcnt">
     <!-- This is the header section that contains the name of the web page and a brief explenation on how it works -->
    <div class="intro">
        <h1>ADD YOUR NEW BOOK</h1>
        <p>To accurately edit the information from the book list the ENTIRE input must be filled if a space is left blank the website will change the current value to undefined.  This side of the website checks the provided ISBN and searches for a match in the database to make the adjustments required by the user.</p>
    </div>

     <!-- This form allows the user to edit a book based on the book ISBN -->
    <form method="POST">

        <div class="row">
            <div class="col-lg">
                <label class="form-label" for="addForm">Name of the Book </label>
                <input type="text" name="bookName" >
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg">
                <label class="form-label" for="addForm">Name of the Author:</label>
                <input type="text" name="author">
            </div>
        </div>

        <div class="row">
            <div class="col-lg">
                <label class="form-label" for="addForm">Genre: </label>
                <input type="text" name="genre">
            </div>
        </div>

        <div class="row">
            <div class="col-lg">
                <label class="form-label" for="addForm">ISBN: </label>
                <input type="text" name="isbn" required>
            </div>
        </div>

        <div class="row">
            <div class="col-lg">
                <label class="form-label" for="addForm">Year the Book was Read:  </label>
                <input type="text" name="yearread">
            </div>
        </div>

        <div class="row">
            <div class="col-lg">
                <label class="form-label" for="addForm">Rating:  </label>
                <input type="text" name="rating">
            </div>
        </div>

        <div class="row">
            <div class="col-lg">
                <label class="form-label" for="addForm">Description: </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
            </div>
        </div>
    <button id="editbtn" class="btn btnC" type="submit" name="list"> Edit Book Info</button>
    </form>
</main>
<footer class="py-3 my-4">
    <p class="text-center text-body-secondary">Copyright © <%= new Date().getFullYear() %></p>
</footer>
</body>
</html>