<%- include('partials/header.ejs'); -%>

<main class="addcnt">
    <div class="intro">
        <h1>ADD YOUR NEW BOOK</h1>
        <p></p>
    </div>
    <form method="POST">
        <div class="row">
            <div class="col-lg">
                <label class="form-label" for="addForm">Name of the Book </label>
                <input type="text" name="bookName" >
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg">
                <label class="form-label" for="addForm">Name of the Author:</label>
                <input type="text" name="author">
            </div>
        </div>

        <div class="row">
            <div class="col-lg">
                <label class="form-label" for="addForm">Genre: </label>
                <input type="text" name="genre">
            </div>
        </div>

        <div class="row">
            <div class="col-lg">
                <label class="form-label" for="addForm">ISBN: </label>
                <input type="text" name="isbn" required>
            </div>
        </div>

        <div class="row">
            <div class="col-lg">
                <label class="form-label" for="addForm">Year the Book was Read:  </label>
                <input type="text" name="yearread">
            </div>
        </div>

        <div class="row">
            <div class="col-lg">
                <label class="form-label" for="addForm">Rating:  </label>
                <input type="text" name="rating">
            </div>
        </div>

        <div class="row">
            <div class="col-lg">
                <label class="form-label" for="addForm">Description: </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
            </div>
        </div>
    <button class="btn btnC" type="submit" name="list"> Edit Book Info</button>
    </form>

    <form action="delete">
        <h1>Delet a Book</h1>
        <p></p>
        <label for=""></label>
        <input type="text">
        <button class="btn btnDe">Delete</button>
    </form>
</main>
</body>
</html>